body{
    margin: 0px;
}

#grid{
    position: relative;
    top: calc(560px / 5 / 2 - 12px);
    left: calc(560px / 5 / 2 - 12px);
    margin-left: 0px;
}

#board{
    width: 560px;
    height: 560px;
    border-radius: 0px;
    background-color: lightblue;
}

.tile, .tile-n{
    font-size: 30px;
    width: calc(560px/5);
    height: calc(560px/5);
    float: left;
    text-align: center;
    border-style: inset;
    border-color: lightblue;
    line-height: calc(560px/5);
}

.tile{
    color: white;
    background: steelblue;
}

.tile-n{
    color: white;
    background: lightsteelblue;
}





